<!--<h1>Angular Applications</h1>
<div class="container" >
<app-header></app-header>
</div>
<courses></courses>-->
<!--<favourite [isFavourite]="post.isFavourite" ></favourite>-->
<!--<div class="container">
    <app-header></app-header>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
</div>
<div hidden>
List of courses</div>
<div>
No courses yet</div>-->
<!--<ul class ="nav nav-pills">
<li [class.active]="viewMode=='map'"><a (click)="viewMode='map'">Map View</a></li>
<li  [class.active]="viewMode=='list'"><a (click)="viewMode='list'">List View</a></li>
</ul>         
<div [ngSwitch]="viewMode">
<div *ngSwitchCase="'map'">Map View content</div>
<div *ngSwitchCase="'list'">List View Content</div>
<div *ngSwitchDefault>Otherwise</div>
</div>-->

<!--<app-button-check></app-button-check>

<br>
<favourite></favourite>
<br>

<app-exngfot></app-exngfot>-->
<!--<input type="text" [appInputFormat]="'uppercase'">-->
<bootstrapcheck></bootstrapcheck>