
@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');
.container {
    max-width: 250px;
    margin: 30px auto;
    overflow: auto;
    min-height: 150px;
    border: 1px solid steelblue;
    padding: 30px;
    border-radius: 5px;
  }

body{padding:20px;}

.glyphicon
{
  color:red;
}